
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding: 0 1.5rem;
}


header {
    text-align: center;
    margin-bottom: 2rem;
}

header img {
    width: 250px;
    margin-bottom: 1rem;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
}

header p {
    font-size: 18px;
}


section {
    margin-bottom: 3rem;
}

h2 {
    font-size: 28px;
    margin-bottom: 1rem;
}

h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}


.subseccion {
    margin-bottom: 2rem;
}

ol {
    margin-left: 20px;
}


a {
    text-decoration: none;
}

.boton {
    display: inline-block;
    background-color: #667eea;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
}
.boton1 {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
}
.boton2 {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
}
.boton3 {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
}

.boton:hover {
    background-color: #764ba2; 
}
.boton1:hover {
    background-color: #764ba2; 
}
.boton2:hover {
    background-color: #764ba2; 
}
.boton3:hover {
    background-color: #764ba2; 
}

details {
    margin-bottom: 1rem;
}

summary {
    font-weight: bold;
    cursor: pointer;
}


footer {
    text-align: center;
    font-size: 14px;
    margin-top: 3rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}


@media (max-width: 768px) {
    body {
        padding: 1rem;
    }

    header h1 {
        font-size: 24px;
    }

    h2, h3 {
        font-size: 22px;
    }

    .subseccion {
        margin-bottom: 1.5rem;
    }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1;
}
.three {
  grid-column: 3 / 5;
  grid-row: 1;
}
#manual {
    text-align: center;
}

#nav{
   width: 1550px;
   padding-left: 1000px;
   position: fixed;
}

.titulonav{
   border: 1px solid black;   
   font-size: 8pt;
   font-weight: bold;
   background-color: #667eea;
   color: white;
   padding: 4px;
}

.cuerporec{
   margin-top: 0px;
   margin-right: 0pt;
   margin-bottom: 10px;
   margin-left: 0pt;
}

.cuerporec ul{
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   padding-top: 0pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.cuerporec li{
   border-bottom: 1px solid black;   
   border-left: 1px solid black;   
   border-right: 1px solid black;   
   padding: 1px 0 2px 4px;
   font-size: 8pt;
   margin-top: 0px;
   margin-right: 0pt;
   margin-bottom: 0px;
   margin-left: 0pt;
   background-color: #764ba2;
}

.cuerporec a{
   text-decoration: none;
   color: white;
} 